.tableContainer {
  width: 100%;
  height: 100%;
}

.pageContainer {
  margin: auto;
  padding: 1em;
  width: 50vw;
  text-align: center;
}

.pageBtnContainer {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pageBtnContainer button {
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border: none;
  border-radius: 3px;
  position: relative;
  font-weight: 600;
  background-color: #2ac069;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.pageBtnContainer button:hover {
  background-color: #2ecc71;
}

.pageBtnContainer button:disabled {
  cursor: default;
  background-color: #dddddd;
}

.pageIndicatorContainer {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-style: oblique;
  color: white;
}

@media (max-width: 950px) {
  .tableOverlay {
    overflow: scroll;
  }
}
